NEXT_PUBLIC_SITE_URL=https://www.tudominio.com
NEXT_PUBLIC_CONTACT_EMAIL=infolagrimas@lagrimaserrantes.com
CONTACT_TO_EMAIL=infolagrimas@lagrimaserrantes.com
CONTACT_FROM_EMAIL=Web Lágrimas Errantes <infolagrimas@lagrimaserrantes.com>
BREVO_API_KEY=
BREVO_LIST_ID=
BREVO_CONTACT_LIST_ID=
