NEXT_PUBLIC_SITE_URL=https://www.tudominio.com
NEXT_PUBLIC_CONTACT_EMAIL=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=Javier Imaz Fandos Web <onboarding@resend.dev>
RESEND_API_KEY=
BREVO_API_KEY=
BREVO_LIST_ID=
